<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :url, id: :picture_url, placeholder: 'Image URL' %>
  </div>

  <div class="form-group">
    <%= form.text_field :caption, id: :picture_caption, placeholder: 'Caption' %>
  </div>

  <div class="form-group">
    <%= form.text_field :location, id: :picture_location, placeholder: "Street Address" %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.select :rating, Picture::RATING_VALS %>
  </div>

  <div class="form-group actions">
    <%= form.submit %>
  </div>

<% end %>
