<p id="notice"><%= notice %></p>
<div class="index-wrapper">

  <ul class='cbp-rfgrid'>

    <% @pictures.each do |picture| %>

      <li>
        <a href="/pictures/<%=picture.id%>">
          <%= image_tag(url_or_attachment(picture,true))%>
          <div class="">
            <h4>
              <%= picture.caption %>
              <br>
              <%= average_rating picture %>
            </h4>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
