<p id="notice"><%= notice %></p>

<!-- <h1>Pictures</h1> -->
<div class="index-wrapper">

  <ul class='cbp-rfgrid'>

    <% @pictures.each do |picture| %>

      <li>
        <!-- <%= link_to image_tag(url_or_attachment(picture,true), class: ''), picture %> -->
        <a href="/pictures/<%=picture.id%>">
          <%= image_tag(url_or_attachment(picture,true))%>
          <div class="">
            <h4>
              <%= picture.caption %>
              <br>
              <%= average_rating picture %>
            </h4>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>