<p id="notice"><%= notice %></p>

<!-- <h1>Pictures</h1> -->
<div class="container index-wrapper">
  <div class="row">
    <% @pictures.each do |picture| %>
      <div class="col-12 col-md-4 imghover" style="display: relative;">
        <%= link_to image_tag(picture.url, class: 'img-fluid thumbnail' ), picture %>
        <div class="overlay">
          <div class="overlaytext">
            <%= picture.caption %>
            <%= average_rating(picture) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Picture', new_picture_path %>