<p id="notice"><%= notice %></p>

<div class="container">

<div class="row">
  <div class="col-12">
    <%= image_tag @picture.url, class: 'img-fluid center-block' %>
  </div>
</div>

<div class="row">
  <div class="col col-12 col-md-6" >
    <div class="row">
      <div class="col-12">
        Caption: <%= @picture.caption %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Average Rating:</strong>
        <%= average_rating @picture %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% @picture.reviews.each do |review| %>
          <div class="row review-block">
              <div class="col-12">
              <%= review.description %>
              <br>
              Added by
              <%= review.author %>
              @
              <%= review.created_at %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col col-12 col-md-6">
    <div class=" embed-responsive embed-responsive-16by9" id="location">

      <strong>Location:</strong>
      <%= @picture.location %>
      <%= street_view @picture %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
  <%= link_to 'Edit', edit_picture_path(@picture) %> | <%= link_to 'Back', pictures_path %>
  </div>
</div>

<h1>New Review</h1>

<%= render partial: 'reviews/form', locals: { review: @review } %>

</div>
