<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= image_tag @picture.url %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  <strong>Location:</strong>
  <%= @picture.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @picture.rating %>
</p>

<h3>Reviews</h3>
<% @picture.reviews.each do |review| %>
  <p>
    <%= review.description %>
    <br>
    Added on: <%= review.created_at %>
  </p>
<% end %>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>


<h1>New Review</h1>

<%= render partial: 'reviews/form', locals: { review: @review } %>
