<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @picture.url %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  <strong>Location:</strong>
  <%= @picture.location %>
</p>

<p>
  <strong>Average Rating:</strong>
  <!-- This should be an average of all the ratings tied to the picture. -->
  <%= @avg_score %>
  <% @avg_score.times do  %>
    <span><i class="fa fa-star"></i></span>
  <% end %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

<h3>Reviews</h3>
<% @picture.reviews.each do |review| %>
  <p>
    <%= review.description %>
    <br>
    Added by <%= review.author %> @ <%= review.created_at %>
  </p>
<% end %>


<h1>New Review</h1>

<%= render partial: 'reviews/form', locals: { review: @review } %>
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= image_tag @picture.url %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  <strong>Location:</strong>
  <%= @picture.location %>
  <%= street_view @picture %>
</p>

<p>
  <strong>Average Rating:</strong>

  <%= average_rating @picture %>

</p>

<%= link_to 'Edit', edit_picture_path(@picture) %>
|
<%= link_to 'Back', pictures_path %>

<h3>Reviews</h3>
<% @picture.reviews.each do |review| %>
  <p>
    <%= review.description %>
    <br>
    Added by
    <%= review.author %>
    @
    <%= review.created_at %>
  </p>
<% end %>

<h1>New Review</h1>

<%= render partial: 'reviews/form', locals: { review: @review } %>
>>>>>>> e8897593e15477492b45f1646cb9d72931f481b3
