<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :review_description %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :review_author %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :review_rating %>
  </div>

  <% if @picture.nil? %>
    <div class="field">
      <%= form.label :picture_id %>
      <%= form.text_field :picture_id, id: :review_picture_id %>
    </div>

  <% else %>
      <%= form.label :picture_id %>
      <%= form.hidden_field :picture_id, disabled:true, value:@picture.id %>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
