<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- improves presentation on mobile devices -->
    <title>Wynwalk</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"></a>
      <%= link_to root_path do %>
      <%= image_tag("logo2.png", class: "img-fluid", size: 120) %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "HOME", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "TOP 5", top5_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
          <li><%= link_to "UPLOAD", new_picture_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ABOUT", about_path, class: 'nav-link'%>
          </li>
        </ul>

      </div>
    </nav>

    <%= yield %>
  </body>

  <!--Footer-->
  <footer class="page-footer indigo center-on-small-only pt-0 bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-md-12">

                  <div class="footer-socials mb-5 flex-center" style="text-align: center; padding-top: 4em;">

                      <%= link_to(content_tag(:i,'', class: 'fa fa-facebook fa-lg white-text mr-md-4'), 'www.facebook.com', class: 'icon') %>
                      <%= link_to(content_tag(:i,'', class: 'fa fa-twitter fa-lg white-text mr-md-4'), 'www.twitter.com',class: 'icon') %>
                      <%= link_to(content_tag(:i,'',class: 'fa fa-google-plus fa-lg white-text mr-md-4'), 'www.google.com',class: 'icon') %>
                      <%= link_to(content_tag(:i,'',class: 'fa fa-linkedin fa-lg white-text mr-md-4'), 'www.linkedin.com',class: 'icon') %>
                      <%= link_to(content_tag(:i,'',class: 'fa fa-instagram fa-lg white-text mr-md-4'), 'www.instagram.com',class: 'icon') %>
                      <%= link_to(content_tag(:i,'',class: 'fa fa-pinterest fa-lg white-text'), 'www.pinterest.com',class: 'icon') %>
                  </div>
              </div>
              <!--/First column-->
          </div>
          <!--/First row-->
      </div>
      <!--/Footer Links-->

  </footer>
  <!--/Footer-->
</html>
